.cs-giftcard__info {
  margin: 1.5rem 0;
  width: 100%
}
.cs-giftcard__info-title {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: .8rem;
  margin-bottom: .9rem
}
.cs-giftcard__info-title-span {
  display: block;
  font-weight: 700;
  font-size: 1.8rem
}
.account .cs-giftcard__info-content {
  max-width: 45rem
}
.cs-giftcard__dashboard-block {
  width: auto
}
.cs-giftcard__dashboard-block .cs-info-block__box {
  width: 100%
}
.cs-giftcard__table-inline {
  display: inline
}
.cs-giftcard__codes-table {
  margin: 2rem 0
}
@media (max-width:47.99em) {
  .cs-giftcard__codes-table .cs-table__col.label {
    display: none
  }
  .cs-giftcard__codes-table .cs-table__col {
    padding-left: 0!important;
    padding-right: 0!important
  }
  .aw_giftcard__code_info .action-toolbar .button {
    width: 100%
  }
}
.cs-giftcard__checkout-title-span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
  display: inline-block
}
@media (min-width:48em) {
  .cs-giftcard__checkout-title-span {
    margin-bottom: 1.5rem
  }
}
@media (max-width:63.99em) {
  .cs-giftcard__checkout-title-span {
    margin-top: 1.5rem
  }
}
.cs-giftcard__checkout-box {
  margin-bottom: 2rem
}
.aw-giftcard-codes-block td {
  padding: .8rem 1rem!important
}
.aw-giftcard-totals form {
  position: relative
}
.aw-giftcard-totals .action-delete {
  position: absolute;
  top: 0;
  left: 0
}
.aw-giftcard-totals .title {
  display: block;
  padding-left: 1.8rem
}
.aw_giftcard__code_info .action-toolbar .button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.aw_giftcard__code_info .action-toolbar .button:active,
.aw_giftcard__code_info .action-toolbar .button:focus,
.aw_giftcard__code_info .action-toolbar .button:hover {
  background-color: #324dcf!important
}
.aw_giftcard__code_info .action-toolbar .button:after,
.aw_giftcard__code_info .action-toolbar .button:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px
}
.aw_giftcard__code_info .action-toolbar .button:before {
  width: 5.5rem;
  border-radius: 0 3px 3px 0;
  z-index: -1;
  background: linear-gradient(100deg,transparent 0,transparent 15%,#142b9e 15%,#142b9e 100%)
}
.aw_giftcard__code_info .action-toolbar .button:after {
  width: 4rem;
  min-width: auto;
  background-color: #142b9e;
  transition: width .25s linear;
  z-index: -2;
  border-radius: 3px
}
.aw_giftcard__code_info .action-toolbar .button:hover:after {
  width: calc(100% + 2px)
}
.aw_giftcard__code_info .action-toolbar .button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw_giftcard__code_info .action-toolbar .button,
.aw_giftcard__code_info .action-toolbar .button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.aw_giftcard__code_info .action-toolbar .button *,
.aw_giftcard__code_info .action-toolbar .button:visited * {
  color: #fff;
  fill: #fff
}
.aw_giftcard__code_info .action-toolbar .button:active:not([disabled]),
.aw_giftcard__code_info .action-toolbar .button:focus:not([disabled]),
.aw_giftcard__code_info .action-toolbar .button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.aw_giftcard__code_info .action-toolbar .button:active:not([disabled]) *,
.aw_giftcard__code_info .action-toolbar .button:focus:not([disabled]) *,
.aw_giftcard__code_info .action-toolbar .button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw_giftcard__code_info .action-toolbar .button[disabled] {
  opacity: .65;
  cursor: auto
}
.aw_giftcard__code_info .action-toolbar .button > span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
