.aw-pq-form {
  margin-top: 1rem;
  background: #f0f0f0;
  padding: 3rem
}
.aw-pq-form__headline {
  margin: 0 0 1.4em;
  font-size: 1.8rem
}
.aw-pq-form__product-name {
  font-weight: 200
}
@media (min-width:64em) {
  .aw-pq-form__fieldset {
    display: flex;
    flex-flow: row wrap
  }
  .aw-pq-form__field-name {
    flex: 1 1 49%
  }
  .aw-pq-form__field-email {
    flex: 1 1 50%;
    margin-top: 0!important;
    padding: 0 0 0 2rem
  }
}
.aw-pq-form__textarea {
  resize: vertical
}
.aw-pq-form__note-wrapper {
  margin: 1rem 0 0
}
.aw-pq-form__button-note {
  margin: 0;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  color: #696969
}
.aw-pq-form__button-wrapper {
  display: flex;
  width: 100%;
  margin: 2.5rem 0;
  justify-content: flex-start
}
@media (min-width:64em) {
  .aw-pq-form__button-wrapper {
    justify-content: center;
    margin-bottom: 0
  }
}
.aw-pq-form__button-question {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.aw-pq-form__button-question::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-form__button-question,
.aw-pq-form__button-question:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.aw-pq-form__button-question *,
.aw-pq-form__button-question:visited * {
  color: #fff;
  fill: #fff
}
.aw-pq-form__button-question:active:not([disabled]),
.aw-pq-form__button-question:focus:not([disabled]),
.aw-pq-form__button-question:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-form__button-question:active:not([disabled]) *,
.aw-pq-form__button-question:focus:not([disabled]) *,
.aw-pq-form__button-question:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-form__button-question[disabled] {
  opacity: .65;
  cursor: auto
}
@media (max-width:30em) {
  .aw-pq-form__button-question {
    width: 100%
  }
}
.aw-pq-form__button-question-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-form__button-question-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-form__send-answer-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color;
  margin-top: 1rem;
  min-width: 18rem
}
.aw-pq-form__send-answer-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-form__send-answer-button,
.aw-pq-form__send-answer-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.aw-pq-form__send-answer-button *,
.aw-pq-form__send-answer-button:visited * {
  color: #fff;
  fill: #fff
}
.aw-pq-form__send-answer-button:active:not([disabled]),
.aw-pq-form__send-answer-button:focus:not([disabled]),
.aw-pq-form__send-answer-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-form__send-answer-button:active:not([disabled]) *,
.aw-pq-form__send-answer-button:focus:not([disabled]) *,
.aw-pq-form__send-answer-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-form__send-answer-button[disabled] {
  opacity: .65;
  cursor: auto
}
.aw-pq-form__send-answer-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-form__send-answer-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-form__checkbox-label {
  font-size: 1.2rem
}
.aw-pq-overlay {
  position: absolute;
  opacity: 1!important;
  background: url(../images/ajax-loader.gif) center center/30px 30px no-repeat rgba(255,255,255,.75)!important;
  z-index: 5
}
.aw-pq-question__question {
  display: flex;
  flex-flow: row wrap;
  margin: .5rem 0 2.5rem;
  padding: 2.3rem 0 0;
  justify-content: flex-start;
  border-top: 1px solid #f0f0f0
}
@media (max-width:29.99em) {
  .aw-pq-question__question {
    width: 100%
  }
}
.aw-pq-question-list-wrapper {
  background-color: none
}
@media (max-width:47.99em) {
  .aw-pq-form__send-answer-button {
    width: 100%
  }
  .aw-pq-question-title-desktop {
    display: none
  }
}
@media (min-width:48em) {
  .aw-pq-question__question {
    justify-content: center;
    margin: 0;
    margin-bottom: 3rem
  }
  .aw-pq-question-list-wrapper {
    background-color: none
  }
  .aw-pq-question-title-mobile {
    display: none
  }
}
.aw-pq-question-sort-block {
  display: flex;
  align-items: center
}
.aw-pq-question-sort-block .cs-html-select {
  display: block!important
}
.aw-pq-question-sort__icon {
  width: 1.5rem;
  height: 1rem;
  fill: #324dcf;
  box-sizing: border-box;
  margin-left: .8rem
}
.aw-pq-question-sort__sortby-label {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: .2rem;
  text-transform: uppercase
}
.aw-pq-question-sort__sortby {
  margin-bottom: 0
}
.aw-pq-question-form__wrapper {
  flex: 1 1 100%;
  padding: 0
}
@media (min-width:48em) {
  .aw-pq-question-sort__sortby-label {
    width: auto;
    margin-bottom: 0;
    margin-right: 1rem
  }
  .aw-pq-question-sort__sortby {
    width: auto!important;
    min-width: 20rem
  }
  .aw-pq-question-form__wrapper {
    margin-top: 0
  }
}
.aw-pq-question-form__textarea {
  resize: vertical
}
.aw-pq-list__helpfulness-progress,
.aw-pq-list__helpfulness-value {
  min-width: 1.5rem;
  display: inline-block
}
.aw-pq-list__please-login-note {
  margin-top: 1.5rem
}
.aw-pq-list__next-question-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.aw-pq-list__next-question-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-list__next-question-button,
.aw-pq-list__next-question-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid #324dcf;
  color: #324dcf;
  background-color: #fff
}
.aw-pq-list__next-question-button *,
.aw-pq-list__next-question-button:visited * {
  color: #324dcf;
  fill: #324dcf
}
.aw-pq-list__next-question-button:active:not([disabled]),
.aw-pq-list__next-question-button:focus:not([disabled]),
.aw-pq-list__next-question-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid #142b9e;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-list__next-question-button:active:not([disabled]) *,
.aw-pq-list__next-question-button:focus:not([disabled]) *,
.aw-pq-list__next-question-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__next-question-button[disabled] {
  opacity: .65;
  cursor: auto
}
@media (max-width:29.99em) {
  .aw-pq-list__next-question-button {
    width: 100%
  }
}
.aw-pq-list__next-question-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-list__next-question-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-list__next-answer-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.aw-pq-list__next-answer-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-list__next-answer-button,
.aw-pq-list__next-answer-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid #324dcf;
  color: #324dcf;
  background-color: #fff
}
.aw-pq-list__next-answer-button *,
.aw-pq-list__next-answer-button:visited * {
  color: #324dcf;
  fill: #324dcf
}
.aw-pq-list__next-answer-button:active:not([disabled]),
.aw-pq-list__next-answer-button:focus:not([disabled]),
.aw-pq-list__next-answer-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid #142b9e;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-list__next-answer-button:active:not([disabled]) *,
.aw-pq-list__next-answer-button:focus:not([disabled]) *,
.aw-pq-list__next-answer-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__next-answer-button[disabled] {
  opacity: .65;
  cursor: auto
}
.aw-pq-list__next-answer-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-list__next-answer-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-list__answer,
.aw-pq-list__question {
  display: flex;
  flex-direction: column
}
.aw-pq-list__answer-label,
.aw-pq-list__question-label {
  color: #212121;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 2.3rem
}
@media (min-width:48em) {
  .aw-pq-list__answer,
  .aw-pq-list__question {
    flex-direction: row
  }
  .aw-pq-list__answer-label,
  .aw-pq-list__question-label {
    flex: 0 0 14rem;
    line-height: 2.5rem;
    word-break: break-all;
    text-align: right;
    padding-right: 1.15rem;
    border-left: 1px solid #f0f0f0
  }
}
.aw-pq-list__answer-item_hidden,
.aw-pq-list__question-item_hidden {
  display: none!important
}
.aw-pq-list__answer-wrapper,
.aw-pq-list__question-wrapper {
  padding: 0 2.3rem;
  flex-grow: 1
}
.aw-pq-list__question-info {
  margin-top: .5rem;
  font-weight: 300;
  font-size: 1.25rem;
  color: #888
}
@media (min-width:48em) {
  .aw-pq-list__answer-wrapper,
  .aw-pq-list__question-wrapper {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem
  }
  .aw-pq-list__question-info {
    display: inline-block
  }
}
.aw-pq-list__question-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #f0f0f0
}
.aw-pq-list__question-item:first-child {
  border-top: none
}
@media (min-width:48em) {
  .aw-pq-list__question-item {
    flex-direction: row;
    padding: 3rem 0
  }
}
.aw-pq-list__question-expand {
  display: none!important
}
.aw-pq-list__question-label {
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 700;
  background: #f8f8f8;
  padding: 0
}
@media (min-width:64em) {
  .aw-pq-list__question-label {
    background-clip: content-box;
    padding-left: 2rem
  }
}
.aw-pq-list__question-caption {
  padding: 2.3rem 2.3rem 1.15rem
}
@media (min-width:48em) {
  .aw-pq-list__question-label {
    line-height: 2.3rem;
    order: 1
  }
  .aw-pq-list__question-caption {
    padding-right: 1.15rem
  }
}
.aw-pq-list__question-content {
  color: #212121;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700
}
.aw-pq-list__question-wrapper {
  background: #f8f8f8
}
.aw-pq-list__helpfulness {
  padding-top: .5rem
}
.aw-pq-list__helpfulness-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem
}
@media (min-width:48em) {
  .aw-pq-list__question-content {
    line-height: 2.3rem
  }
  .aw-pq-list__question-wrapper {
    order: 2
  }
  .aw-pq-list__helpfulness-layout {
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 0
  }
  .aw-pq-list__helpfulness-layout-unit_position_center {
    margin-bottom: .5rem
  }
}
.aw-pq-list__helpfulness-layout-unit_position_center {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem
}
@media (max-width:47.99em) {
  .aw-pq-list__answer .aw-pq-list__helpfulness-layout {
    flex-direction: row;
    align-items: flex-start;
    margin-right: 0
  }
  .aw-pq-list__helpfulness--answer {
    padding-left: 0;
    margin-top: .5rem
  }
  .aw-pq-list__helpfulness-wrapper {
    background: #f8f8f8
  }
}
.aw-pq-list__helpfulness--answer .aw-pq-list__helpfulness-layout {
  flex-direction: row;
  border-radius: 3px;
  padding: .3rem .5rem 0;
  background: #f8f8f8;
  display: inline-flex
}
.aw-pq-list__helpfulness--answer .aw-pq-list__helpfulness-layout-unit:nth-child(1) {
  transform: scale(.65) translateY(-.2rem)
}
.aw-pq-list__helpfulness--answer .aw-pq-list__helpfulness-layout-unit:nth-child(3) {
  transform: scale(.65) translateY(.1rem)
}
.aw-pq-list__helpfulness-wrapper {
  padding: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
@media (min-width:48em) {
  .aw-pq-list__helpfulness-wrapper {
    flex: 0 0 10rem;
    align-items: center;
    order: 0
  }
  .aw-pq-list__answer-label .aw-pq-list__helpfulness {
    display: inline-block
  }
}
@media (min-width:64em) {
  .aw-pq-list__helpfulness-wrapper {
    flex: 0 0 14rem
  }
}
.aw-pq-list__helpfulness-thumb {
  width: 2.4rem;
  height: 2.4rem
}
.aw-pq-list__helpfulness-thumb #thumb-down-svg-icon__fill,
.aw-pq-list__helpfulness-thumb #thumb-up-svg-icon__fill {
  transition: fill .25s linear
}
.aw-pq-list__helpfulness-icon_dislike_voted .aw-pq-list__helpfulness-thumb--down #thumb-down-svg-icon__fill,
.aw-pq-list__helpfulness-icon_like_voted .aw-pq-list__helpfulness-thumb--up #thumb-up-svg-icon__fill,
.aw-pq-list__helpfulness-thumb--down #thumb-down-svg-icon__shape,
.aw-pq-list__helpfulness-thumb--down:hover #thumb-down-svg-icon__fill,
.aw-pq-list__helpfulness-thumb--up #thumb-up-svg-icon__shape,
.aw-pq-list__helpfulness-thumb--up:hover #thumb-up-svg-icon__fill {
  fill: #324dcf
}
@media (max-width:47.99em) {
  .aw-pq-list__answer {
    padding-top: 1.15rem
  }
  .aw-pq-list__answer-label {
    padding-bottom: 1.15rem
  }
}
.aw-pq-list__answer-label-text {
  font-size: 1.1rem;
  line-height: 1;
  display: inline-block
}
@media (min-width:48em) {
  .aw-pq-list__answer-label .aw-pq-list__helpfulness-layout {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem
  }
  .aw-pq-list__answer-item {
    margin-left: 10rem
  }
}
@media (min-width:64em) {
  .aw-pq-list__answer-item {
    margin-left: 14rem
  }
}
.aw-pq-list__answer-content {
  margin-top: .2rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #696969
}
.aw-pq-list__answer-date {
  margin-top: .5rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #696969
}
.aw-pq-list__answer-list {
  display: block!important;
  flex: 1 1 auto
}
.aw-pq-list__answer-action-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 2.3rem 2.3rem 0
}
@media (min-width:48em) {
  .aw-pq-list__answer-action-bar {
    border-left: 1px solid #f0f0f0;
    margin-left: 10rem;
    padding: 2.3rem 0 0 calc(14rem + 2rem)
  }
  .aw-pq-list__answer-wrapper {
    padding-bottom: 0
  }
}
@media (min-width:64em) {
  .aw-pq-list__answer-action-bar {
    margin-left: 14rem
  }
}
.aw-pq-list__answer-action-wrapper {
  border-top: 1px solid #f0f0f0;
  width: 100%;
  padding-top: 2.3rem
}
.ie11 .aw-pq-list__answer-wrapper {
  flex-basis: 100%
}
.aw-pq-list__next-answer {
  width: 100%
}
@media (min-width:48em) {
  .aw-pq-list__next-answer {
    width: auto
  }
}
.aw-pq-list__add-answer-button,
.aw-pq-list__next-answer-button {
  min-width: 18rem
}
.aw-pq-list__add-question-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.aw-pq-list__add-question-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-list__add-question-button,
.aw-pq-list__add-question-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.aw-pq-list__add-question-button *,
.aw-pq-list__add-question-button:visited * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__add-question-button:active:not([disabled]),
.aw-pq-list__add-question-button:focus:not([disabled]),
.aw-pq-list__add-question-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-list__add-question-button:active:not([disabled]) *,
.aw-pq-list__add-question-button:focus:not([disabled]) *,
.aw-pq-list__add-question-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__add-question-button[disabled] {
  opacity: .65;
  cursor: auto
}
.aw-pq-list__add-question-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-list__add-question-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-list__add-answer-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color;
  margin: 0 0 1rem
}
.aw-pq-list__add-answer-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.aw-pq-list__add-answer-button,
.aw-pq-list__add-answer-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.aw-pq-list__add-answer-button *,
.aw-pq-list__add-answer-button:visited * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__add-answer-button:active:not([disabled]),
.aw-pq-list__add-answer-button:focus:not([disabled]),
.aw-pq-list__add-answer-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.aw-pq-list__add-answer-button:active:not([disabled]) *,
.aw-pq-list__add-answer-button:focus:not([disabled]) *,
.aw-pq-list__add-answer-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.aw-pq-list__add-answer-button[disabled] {
  opacity: .65;
  cursor: auto
}
@media (min-width:48em) {
  .aw-pq-list__add-answer-button {
    margin: 0 1rem 0 0
  }
}
.aw-pq-list__add-answer-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.aw-pq-list__add-answer-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.aw-pq-list__no-answers {
  font-weight: 300;
  font-size: 1.5rem;
  color: #696969
}
@media (max-width:47.99em) {
  .aw-pq-list__add-answer-button,
  .aw-pq-list__add-question-button,
  .aw-pq-list__next-answer-button,
  .aw-pq-list__next-question-button {
    width: 100%
  }
  .aw-pq-list__next-question {
    width: 100%;
    margin-bottom: 1rem
  }
  .aw-pq-list__no-answers {
    padding: 2.3rem 2.3rem 0
  }
}
@media (min-width:48em) {
  .aw-pq-list__next-question {
    margin-right: 1rem
  }
  .aw-pq-list__no-answers {
    padding-top: 2.3rem;
    padding-bottom: 0;
    padding-left: 16rem;
    margin-left: 10rem;
    border-left: 1px solid #f0f0f0
  }
}
@media (min-width:64em) {
  .aw-pq-list__no-answers {
    margin-left: 14rem
  }
}
.aw-pq-list__no-questions {
  margin: 1rem 0;
  text-align: center
}
.aw-pq-list__action-bar {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 2.5rem
}
@media (min-width:48em) {
  .aw-pq-list__action-bar {
    padding: 3rem 0 0
  }
}
#aw_pq_subscribe_to_form ul {
  padding-left: 0
}
#aw_pq_subscribe_to_form li {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  margin-top: 1rem
}
#aw_pq_subscribe_to_form li > input {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: -.0625em calc(.5em + 1px) 0 0;
  font-size: 1em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 0 0 auto;
  cursor: pointer;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1em 1em;
  outline: 0;
  border-radius: 50%;
  transition: background-color .5s,border-color .5s;
  border-radius: 3px;
  background-size: 1em 1em
}
#aw_pq_subscribe_to_form li > input::-ms-check {
  color: transparent;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1em 1em;
  outline: 0;
  border-radius: 50%;
  transition: background-color .5s,border-color .5s;
  background-color: transparent
}
#aw_pq_subscribe_to_form li > input:checked::-ms-check {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle fill='%23324dcf' r='4' cy='6.75' cx='6.6'/%3e%3c/svg%3e")
}
#aw_pq_subscribe_to_form li > input:-moz-focusring,
#aw_pq_subscribe_to_form li > input::-moz-focus-inner {
  color: transparent!important;
  text-shadow: 0 0 0 #000!important
}
#aw_pq_subscribe_to_form li > input:focus:not([disabled]),
#aw_pq_subscribe_to_form li > input:hover:not([disabled]) {
  border: 1px solid #142b9e;
  box-shadow: none;
  background-color: transparent
}
#aw_pq_subscribe_to_form li > input:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle fill='%23324dcf' r='4' cy='7' cx='7'/%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23324dcf' d='M5.313 10.108H5.24a1.064 1.005 0 0 1-.75-.41l-1.947-2.55a1.064 1.005 0 0 1 1.723-1.175L5.463 7.56 9.06 4.19a1.064 1.005 0 0 1 .75-.297h.846a1.064 1.005 0 0 1 0 2.004h-.45L6.064 9.81a1.064 1.005 0 0 1-.75.298z'/%3e%3c/svg%3e")
}
#aw_pq_subscribe_to_form li > input:checked,
#aw_pq_subscribe_to_form li > input:checked:focus,
#aw_pq_subscribe_to_form li > input:checked:hover {
  border: 1px solid #324dcf;
  box-shadow: none;
  background-color: transparent;
  box-shadow: none
}
#aw_pq_subscribe_to_form li > input[disabled],
#aw_pq_subscribe_to_form li > input[disabled] + .cs-input__label,
#aw_pq_subscribe_to_form li > input[disabled] + .label {
  opacity: .65
}
#aw_pq_subscribe_to_form li > input::-ms-check {
  color: transparent;
  border-radius: 3px;
  background-size: 1em 1em
}
#aw_pq_subscribe_to_form li > input::-ms-check:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23324dcf' d='M5.313 10.108H5.24a1.064 1.005 0 0 1-.75-.41l-1.947-2.55a1.064 1.005 0 0 1 1.723-1.175L5.463 7.56 9.06 4.19a1.064 1.005 0 0 1 .75-.297h.846a1.064 1.005 0 0 1 0 2.004h-.45L6.064 9.81a1.064 1.005 0 0 1-.75.298z'/%3e%3c/svg%3e")
}
#aw_pq_subscribe_to_form li > label {
  font-weight: 300;
  font-size: 1.4rem
}
