.cs-faq-index {
  margin: 0 0 3rem
}
@media (min-width:48em) {
  .cs-faq-index {
    margin: 0 0 4rem
  }
}
.cs-faq-index--skip-spacing {
  margin: 0
}
.cs-faq-index__header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem
}
.cs-faq-index__header--bordered {
  border-bottom: 1px solid #f0f0f0
}
.cs-faq-index__text-wrapper {
  margin: 2rem 0
}
.cs-faq-index__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #f0f0f0
}
.cs-faq-index__list-item {
  display: flex;
  align-items: center;
  color: #696969;
  margin-bottom: 0;
  border-bottom: 1px solid #f0f0f0;
  transition: color .15s,background .15s;
  position: relative
}
.cs-faq-index__list-item-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #696969;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem
}
.cs-faq-index__list-item a {
  transition: color .15s;
  padding: 2rem 3rem;
  color: #696969;
  width: calc(100% - 4.5rem);
  display: inline-block
}
.cs-faq-index__list-item:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: .4rem;
  width: .4rem;
  transition: background .15s;
  border-radius: 100%;
  background: #696969;
  left: 1rem
}
.cs-faq-index__list-item:first-child {
  border-top: 1px solid #f0f0f0
}
.cs-faq-index__list-item:hover {
  background: #f0f0f0;
  color: #142b9e
}
.cs-faq-index__list-item:hover a {
  color: #142b9e
}
.cs-faq-index__list-item:hover:before {
  background: #142b9e
}
.cs-faq-index__list-item:hover .cs-faq-index__list-item-icon * {
  fill: #142b9e
}
.cs-faq-index__list-img {
  display: none
}
.cs-faq-index__category-section .cs-faq-index__list:last-child .cs-faq-index__list-item:last-child {
  border-bottom: 1px solid #f0f0f0
}
.cs-faq-index__text {
  color: #696969;
  font-size: 1.4rem;
  font-weight: 700
}
.cs-faq-index__main-title {
  font-family: "Libre Franklin",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Oxygen,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2.6rem;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0 2rem;
  text-transform: none
}
.cs-faq-index__title {
  margin: 0;
  line-height: 1.1;
  font-weight: 400;
  color: #212121;
  font-size: 2rem;
  padding: 2rem 0
}
@media (min-width:64em) {
  .cs-faq-index__title {
    line-height: 1.2
  }
}
.cs-faq-index__title a {
  color: #212121
}
.faq-category-index .cs-faq-index__title,
.faq-index-index .cs-faq-index__title {
  font-size: 1.8rem;
  font-weight: 700
}
.cs-faq-index__category-name {
  border-bottom: 1px solid #f0f0f0
}
.cs-faq-index__search {
  position: relative
}
@media (max-width:47.99em) {
  .cs-faq-index__category-name:after,
  .cs-faq-index__category-name:before {
    height: 1px!important;
    width: 10px!important
  }
  .cs-faq-index__category-name:before {
    transform: rotate(-135deg)!important
  }
  .cs-faq-index__category-name:after {
    transform: rotate(135deg)!important;
    right: 8px!important
  }
  .cs-faq-index__search {
    margin: 2rem 0 0;
    width: 100%
  }
}
.cs-faq-index__search-form {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%
}
.cs-faq-index__search-field {
  margin-right: .5rem
}
.cs-faq-index__search-input {
  font-size: 1em;
  line-height: 1.275em;
  padding: .75em 1em;
  color: #212121;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  transition: border-color .5s;
  margin: 0 0 .2em;
  width: 100%;
  background-clip: padding-box;
  font-family: inherit;
  min-width: calc(100vw - 4rem);
  margin-bottom: 0
}
.cs-faq-index__search-input:focus:not([disabled]),
.cs-faq-index__search-input:hover:not([disabled]) {
  border: 1px solid #324dcf;
  box-shadow: none
}
.cs-faq-index__search-input::-webkit-input-placeholder {
  opacity: 1;
  color: #888
}
.cs-faq-index__search-input::-moz-placeholder {
  opacity: 1;
  color: #888
}
.cs-faq-index__search-input:-ms-input-placeholder {
  opacity: 1;
  color: #888
}
.cs-faq-index__search-input::-ms-input-placeholder {
  opacity: 1;
  color: #888
}
.cs-faq-index__search-input::placeholder {
  opacity: 1;
  color: #888
}
.cs-faq-index__search-input[disabled] {
  opacity: .65
}
.cs-faq-index__search-button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.275em;
  margin: 0;
  text-transform: none;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: background-color .5s,border-color .5s,fill .5s,color .5s;
  vertical-align: middle;
  z-index: 5;
  will-change: transform,background-color,border-color,fill,color
}
.cs-faq-index__search-button:active,
.cs-faq-index__search-button:focus,
.cs-faq-index__search-button:hover {
  background-color: #324dcf!important
}
.cs-faq-index__search-button:after,
.cs-faq-index__search-button:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px
}
.cs-faq-index__search-button:before {
  width: 5.5rem;
  border-radius: 0 3px 3px 0;
  z-index: -1;
  background: linear-gradient(100deg,transparent 0,transparent 15%,#142b9e 15%,#142b9e 100%)
}
.cs-faq-index__search-button:after {
  width: 4rem;
  min-width: auto;
  background-color: #142b9e;
  transition: width .25s linear;
  z-index: -2;
  border-radius: 3px
}
.cs-faq-index__search-button:hover:after {
  width: calc(100% + 2px)
}
.cs-faq-index__search-button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0
}
.cs-faq-index__search-button,
.cs-faq-index__search-button:visited {
  cursor: pointer;
  border-radius: 3px;
  outline-offset: 1px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #324dcf
}
.cs-faq-index__search-button *,
.cs-faq-index__search-button:visited * {
  color: #fff;
  fill: #fff
}
.cs-faq-index__search-button:active:not([disabled]),
.cs-faq-index__search-button:focus:not([disabled]),
.cs-faq-index__search-button:hover:not([disabled]) {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #142b9e
}
.cs-faq-index__search-button:active:not([disabled]) *,
.cs-faq-index__search-button:focus:not([disabled]) *,
.cs-faq-index__search-button:hover:not([disabled]) * {
  color: #fff;
  fill: #fff
}
.cs-faq-index__search-button[disabled] {
  opacity: .65;
  cursor: auto
}
.cs-faq-index__search-button-span {
  margin-top: 0;
  z-index: 1;
  font-weight: 700;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1.275em;
  letter-spacing: normal;
  padding-right: 4em
}
.cs-faq-index__search-button-icon {
  max-width: 1em;
  max-height: 1.4rem;
  z-index: 2;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  margin-right: 0;
  right: 1em
}
.cs-faq-index__voting {
  display: flex
}
.cs-faq-index__voting-icon {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 1rem
}
@media (min-width:48em) {
  .cs-faq-index__search-input {
    min-width: 30rem!important
  }
  .cs-faq-index__voting-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 2.5rem
  }
}
.cs-faq-index__voting-icon--checked-yes .cs-faq-index__icon path:first-of-type {
  fill: #37b841
}
.cs-faq-index__voting-icon--checked-no .cs-faq-index__icon path:first-of-type {
  fill: #e41f12
}
.cs-faq-index__voting-separator {
  display: inline-block;
  width: 1px;
  height: 2rem;
  margin: 0 .5rem;
  background: #dcdcdc
}
@media (min-width:48em) {
  .cs-faq-index__voting-separator {
    height: 3rem
  }
}
.cs-faq-index__voting-container {
  display: flex;
  align-items: center;
  margin: 4rem 0
}
.cs-faq-index__more-link {
  margin-top: 2rem;
  display: block
}
.cs-faq-index__icon {
  fill: #dcdcdc;
  transition: fill .15s;
  height: 100%;
  width: 100%
}
.cs-faq-index #like:hover .cs-faq-index__icon path:first-of-type {
  fill: #37b841
}
.cs-faq-index #dislike:hover .cs-faq-index__icon path:first-of-type {
  fill: #e41f12
}
@media (max-width:47.99em) {
  .cs-faq-index__voting-container {
    flex-wrap: wrap
  }
  .cs-faq-index__rating-text {
    width: 100%;
    margin: 2rem 0
  }
}
.aw_bold {
  font-weight: 700
}
.aw-no-display {
  display: none
}
